---

---

<footer>
  <div class="wrap">
    <div class="foot-main">
      <div class="logo-box">
        <img src="/img/logo.png" alt="Bravura Builders LLC" loading="lazy" />
        <p class="tag">
          Luxury remodels, commercial renovation &amp; design-build for the Atlanta metro. Built on
          Manhattan-scale project management.
        </p>
      </div>
      <div class="foot-col">
        <div class="h">Explore</div>
        <a href="/construction">Construction</a>
        <a href="/design">In-House Design</a>
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
      </div>
      <div class="foot-col">
        <div class="h">Contact</div>
        <a href="tel:+14705043420">(470) 504-3420</a>
        <a href="mailto:yossi@bravurabuilders.com">yossi@bravurabuilders.com</a>
        <span>11720 Amber Park Dr, Ste 160 PMB 1157, Alpharetta, GA 30009</span>
      </div>
    </div>
    <div class="foot-base">
      <span>&copy; 2026 Bravura Builders LLC</span>
      <span>Licensed &amp; insured &middot; Georgia</span>
    </div>
  </div>
</footer>
